<%# provide(:body_class, 'new-car') %>
<div class="container">
  <div class="form-wrap">
    <h1>Shout something</h1>
    <%= form_for(@shout) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <div class="field-wrap">
        <div class="form-group">
          <%= f.text_field :text, :class => "text", :placeholder => "What are you shouting?", :required => "required", :autofocus => true, :tabindex => '1' %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, :class => "name", :placeholder => "Name (optional)", :tabindex => '2' %>
        </div>
        <div class="form-group">
          <%= f.text_field :twitter, :class => "twitter", :placeholder => "Twitter handle (optional)", :tabindex => '3' %>
        </div>
        <div class="form-group">
          <%= f.text_field :color, :class => "color", :placeholder => "HEX", :tabindex => '4' %>
        </div>
      </div>
      <%= f.submit "Publish", class: "button" %>
    <% end %>
  </div>
  <div class="shouts">
    <ul>
    <% @shouts.each do |shout| %>
      <li><%= link_to shout.text, shout_path(shout) %></li>
    <% end %>
    </ul>
  </div>
</div>