<% provide(:body_class, 'new-shout home') %>
<div class="container">
  <div class="form-wrap">
    <!-- <h1>Shout something</h1> -->
    <%= form_for(@shout) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <div class="field-wrap">
        <div class="form-group">
          <%= f.text_field :text, :class => "text ish", :placeholder => "ish...", :required => "required", :autofocus => true, :tabindex => '1' %>
        </div>
        <div class="form-group">
          <%= f.text_field :color, :class => "color background-color", :placeholder => "HEX", :tabindex => '4' %>
        </div>
        <div class="form-group">
          <%= f.text_field :color, :class => "color text-color", :placeholder => "HEX", :tabindex => '4' %>
        </div>
      </div>
      <%= f.submit "Publish", class: "button" %>
    <% end %>
  </div>
  <div class="shouts">
    <ul>
    <% @shouts.each do |shout| %>
      <li><%= link_to shout.text, shout_path(shout) %></li>
    <% end %>
    </ul>
  </div>
</div>