<% provide(:body_class, 'shout') %>
<div class="container">
  <div class="countdown">
    <p><%= @shout.expires_at %></p>
    <span class="down"></span>
  </div>
  <div class="shout-wrap">
    <h1><span><%= @shout.text %></span></h1>
    <% if @shout.name %>
      <p class="name"><%= @shout.name %></p>
    <% end %>
    <% if @shout.twitter %>
      <p class="twitter"><%= @shout.twitter %></p>
    <% end %>
  </div>
  <%= link_to 'Like', shout_vote_path(@shout), :class => "button" %>
</div>